*{
    margin:0%;
    padding: 0%;
    width: 100%;

    font-family: Arial;
}

#header{
    position: fixed;
}
.navbar{
    background-color: #0F1111;
    height: 3.4rem;
    display:flex;
    justify-content:space-around;
    width:100%;
    padding : 0.25rem;
   
}

.border{
    border: 1px solid transparent;
}

.border:hover{
    border: 1px solid rgb(255, 255, 255);
}

.block1{
    height:3.4rem; 
    display: flex;
    align-items: center;

}

#logo{
    height:2.81ssem;
    width:8em;
}
.block2{
    display: flex;
}

#main2{
    display: flex;
    justify-content: center;
    align-items: center;
}

#locationlogo{
    display:flex;
    height:60% ;
    color:white;
    flex-direction: row;
    align-items: end;
    width:5%;
    justify-self: end;
    margin-bottom: 1%;
    
}

.fa-solid fa-location-dot{  
    height:0.9rem;
}

#locationtext{
    display:flex;
    flex-wrap:wrap;
  
}

#line1_2{
    font-size: 0.8rem;
    color:#CCCCCC;
}

#line2_2{
    font-size: 1rem;
    font-weight: bold;
    color:white;
}
