*{
    margin:0;
    align:center;
    font-family: Arial;
}

.navbar{
    background-color: #0F1111;
    height: 60px;
    display:flex;
}

.block1{
    height:60px;
    display: flex;
    align-items: center;

}

#logo{
    height:45px;
    width:129px;
}

.block2{
    height:60px;
    width:185px;
}

#line1{
    color: #CCCCCC;
    font-size:0.85rem;
}
#line2{
    color:white;
    font-size:1rem;
}

.fa-solid fa-location-dot{
    height:10px;
    width: 10px;
    color:aliceblue;
}
